**/__pycache__
.ipynb_checkpoints/
.vscode/
wandb/
data/
checkpoints/
output*
Output*

example_videos/qvhighlights_video
example_videos/charades
example_videos/short_cut*
example_videos/Pretrain
example_videos/YouCookII
example_videos/Next_GQA

DVC_Metric.py
Eval_caption.sh
Eval_result/
eval_results/
data_ClsPatch_feature_extra/